﻿@model WadExam.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>
    </dl>

    <p>This Category has Products:</p>
    <table class="table">
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Cost</th>
            <th>Units In Stock</th>
            <th>Units In Order</th>
            <th>Product Detail</th>
        </tr>
        @foreach(var item in Model.Products)
        {
            <tr>
                <td>@Html.DisplayFor(itemmodel => item.ProductId)</td>
                <td>@Html.DisplayFor(itemmodel => item.ProductName)</td>
                <td>@Html.DisplayFor(itemmodel => item.UnitPrice)</td>
                <td>@Html.DisplayFor(itemmodel => item.UnitsInStock)</td>
                <td>@Html.DisplayFor(itemmodel => item.UnitsInOrder)</td>
                <td><button class="btn-info">@Html.ActionLink("Detail", "Details/" + item.ProductId.ToString(), "Products")</button></td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
