﻿@model AssignmentASP.Models.DefaultMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DefaultMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <br />
    <p>This Default Menu contains these Foods: </p>
    <table class="table">
        <tr>
            <th>Food Name</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model.DefaultMenuDetails)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Food.Name)</td>
                <td>@Html.DisplayFor(modelitem => item.Food.Cost)</td>
                <td>@Html.DisplayFor(modelitem => item.Food.Description)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DefaultMenuDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
