﻿@model AssignmentASP.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <br />
    <p>This Customer had Orderd: </p>
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>Payment Method</th>
            <th>Total Cost</th>
            <th>Note</th>
            <th>Employee Name</th>
        </tr>
        @foreach(var item in Model.Orders)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.OrderID)</td>
                <td>@Html.DisplayFor(modelitem => item.PaymentMethod)</td>
                <td>@Html.DisplayFor(modelitem => item.TotalCost)</td>
                <td>@Html.DisplayFor(modelitem => item.Note)</td>
                <td>@Html.DisplayFor(modelitem => item.Employee.Name)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
