﻿@model AssignmentASP.Models.OrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultMenuID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultMenuID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
