﻿@model IEnumerable<AssignmentASP.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Food.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultMenuID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Food.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultMenuID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderDetailID })
        </td>
    </tr>
}

</table>
