﻿@model AssignmentASP.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMealTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMealTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableOrdered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableOrdered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    <br />
    <p>This Order had: </p>
    <table class="table">
        <tr>
            <th>Food Name</th>
            <th>Default Menu Name</th>
            <th>Customer Name</th>
            <th>Employee Name</th>
            <th>Amount</th>
        </tr>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Food.Name)</td>
                <td>@Html.DisplayFor(modelitem => item.DefaultMenu.Name)</td>
                <td>@Html.DisplayFor(modelitem => item.Order.Customer.Name)</td>
                <td>@Html.DisplayFor(modelitem => item.Order.Employee.Name)</td>
                <td>@Html.DisplayFor(modelitem => item.Amount)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
